body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.boton {
    background-color: black;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.titulo {
    text-align: center;
}

.barra--nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.boton-nav {
    padding: 10px;
    color: black;
    transition: .4s;
}

.boton-nav:hover {
    background-color: black;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
}

.input {
    padding: 15px;
}