body {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7c1cfff2-db8d-44cd-8a13-cb2a4162fae6/dd2zouo-047f7b3f-b895-43ac-82a4-abb6ca12c52a.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzdjMWNmZmYyLWRiOGQtNDRjZC04YTEzLWNiMmE0MTYyZmFlNlwvZGQyem91by0wNDdmN2IzZi1iODk1LTQzYWMtODJhNC1hYmI2Y2ExMmM1MmEucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.EFI6YQ0acRLpYHzupMAxV_N4KMcpNWT-_3RJ4TV-4eU");
    background-color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
     
  }



h1 {
    background-color:blue;
    padding: 8% 15%;
    color: #ffffff;
    
    }






      .fcc-btn {
        background-color: blue;
        color: #ffffff;
        padding: 15px 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 140px;
        text-align: center;
    }
    
    .caja {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #f77331;
        padding: 10px;
        
    }
    
      .fcc-btn:hover {
        background-color: rgb(202, 64, 64)
      }